.center {
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.m-container {
    height: -webkit-fill-available; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.m-btn {
    padding: 8px 32px;
    margin-top: 16px;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
}

.m-email {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}

.m-unsub {
    padding: 8px;
    text-align: center;
    font-size: 1.2rem;
}

.m-help {
    text-align: center;
}